@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

/* Глобальное */

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Контейнеры */

.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1160px;
    margin: 0 auto;
}

.navigation-button-container {
    display: flex;
    margin: 0 60px;
}

.navigation-link-container {
    display: flex;
    margin: 0 60px;
}

.button {
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.grey-button {
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    border: none;
}

.pagination-span {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Шапка страницы */

.logo {
    margin: 0 60px;
}

.page-header {
    position: relative;
    margin-top: 40px;
    min-height: 300px;
    background-color: #FFE17F;
}

/* Навигация и основные кнопки  */

.navigation-form {
    width: 517px;
    margin-right: 26px;
}

.navigation-form-button {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 55.5px;
    background: none;
    border: none;
}

.navigation-list-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 231px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-link-button {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    padding: 5px 0;
    background: none;
    border: none;
}

.navigation-link-login {
    display: block;
    padding: 5px 0;
}

.navigation-list-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 241px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
}

/* Основное меню сайта */

.navigation-link {
    display: block;
    padding: 15px 0;
    margin-right: 7px;
    width: 236px;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-item-button {
    width: 50px;
}

.navigation-list-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 471px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style-type: none;
}

.navigation-link-menu {
    display: block;
    padding: 15px 0;
    font-weight: 800;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown-list-category {
    display: none;
}

.dropdown-item {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

/* Cлайдер */

.slider {
    position: relative;
    top: -150px;
}

.slider-item {
    display: none;
}

.slider-item-active {
    display: flex;
}

.slide-content {
  width: 560px;
  margin-left: 40px;
}

.slider-specifications {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.slider-specifications-low {
    font-size: 16px;
    color: #444444;
}

.slider-button-back {
    position: static;
    width: 20px;
    height: 60px;
}

.slider-button-forth {
    position: static;
    width: 20px;
    height: 60px;
    left: 530px;
    top: 60px;
}

/* Список категорий */

.category-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.category-item {
    width: 160px;
}

.category-description {
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

/* Табы услуг */

.services-wrapper {
    display: flex;
}

.services {
    background: linear-gradient(to bottom, #FFFFFF 50%, #F0F0F0 50%);
}

.button-tabs {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: none;
}

.button-tabs-active {
    color: #FFE17F;
    background-color: #000000;
}

.button-tabs-list {
    margin: 0;
    padding: 0;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-link {
    color: #000000;
    text-decoration: none;
}

.services-item {
    display: none;
}

.services-item-active {
    display: block;
}

.offer {
    display: flex;
    background-color: #FFFFFF;
}

.offer-background {
    text-align: center;
    background-color: #F0F0F0;
}

.offer-description {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
}

.about-wrapper {
    display: flex;
}

.newsletter {
   background-color: #F0F0F0;
}

.newsletter-container {
    display: flex;
}

.newsletter-title {
    width: 348px;
    margin-left: 147px;
    margin-right: 252px;
}

.newsletter-description {
    width: 560px;

}

.newsletter-form-container {
    display: flex;
}

.newsletter-description-span {
    margin-left: auto;
}

.contacts h3 {
    font-size: 24px;
    color: #444444;
}

.contacts-description-tel {
    text-decoration-line: underline;
}

.newsletter {
    color: #000000;
    background-color: #F0F0F0;
}

.page-footer {
    color: #ffffff;
    background-color: #444444;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-services-list {
    width: 444px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.about-text {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 239px;
    color: #ffffff;
    margin-right: 112px;
}

.footer-services-link {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-phone {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: underline;
    margin-left: auto;

}

.logo-footer-htmlacademy {
    display: block;
    width: 114.9px;
    margin-left: auto;
}

.pagination {
    width: 760px;
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    margin: 0 auto;
}

.pagination-list {
    margin: 0;
    padding: 0;
}

/* Страница каталога */

.catalog-products {
    display: flex;
}

.catalog-filter-products {
    width: 320px;
}

.catalog-products-sorting {
    width: 840px;
    background-color: #FFFFFF;
}

.breadcrumbs-container {
    width: 1079px;
    margin: 0 auto;
}

.catalog-wrapper {
    background-color: #F0F0F0;
}

.catalog-products-select {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
}

.product-list {
    margin: 0;
    padding: 0;
}

.product-list-container {
    width: 760px;
    margin: 40px 40px;
}

.breadcrumbs-link {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.catalog-filter {
    width: 147px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

}

.catalog-filter-container {
    width: 320px;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.product-card {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

/* font */

.description {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #444444;
}

.product-card-price {
    font-size: 18px;
    line-height: 21px;
}

.high-fonts {
    font-size: 50px;
    line-height: 50px;
}

.download-span {
    font-size: 16px;
    line-height: 19px;
}

.download-button {
    background-color: #F0F0F0;
    width: 760px;
}
